

.Button {
  padding:0.5em 1em 0.5em 1em;
  border: none;
  margin: 10px;
  font-weight: 600;
  display:flex;
}
.Button:hover {
  background: var(--MilkyBackgroundHover);
}
.Button.DarkBackground:hover{
  background:var(--DarkBackgroundHover)
} 

.Button svg{
  height: 1.2em;
  width: 1.2em;
  padding-right:0.5em;
}