.extendedForecastParentDiv{
  width:95%;
  padding:5px;
  grid-column:1/-1
}

.extendedForecastParentDiv h3{
    width:100%;
    text-align:center;
    margin:auto;
    grid-column:1/3;
}

.graphCanvasDiv{
  margin:10px;
  width:90%;
}

.canvasEl{
  object-fit:contain;
}


@media screen and (max-width:755px){
      
  .extendedForecastParentDiv{
    
    flex-flow:column wrap;
  }
  .graphCanvasDiv{
    width:95%;
  }
  
}