
.loadingSpinner{
  animation: rotate 1.5s linear infinite;
  overflow:hidden;
  
}

.loadingDiv{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  overflow:hidden;
  margin:5px;
}
.loadingWord{
  margin-right: 5%;
  
}

@keyframes rotate {
  0%{
    transform:rotate(0deg)
  }
  100%{
    transform:rotate(360deg)
  }
}