.MainForecastDiv {
  border-radius: 0;
  height: 100%;
  width: 220px;
  overflow-y: auto;
  display: flex;
  -ms-overflow-style:none;
  scrollbar-width:none;
  
}
@container containerQuery (width>=544px){
  .MainForecastDiv{
    width:440px;
  }
}
@container containerQuery (width>=764px){
  .MainForecastDiv{
    width:660px;
  }
}
.MainForecastDiv::-webkit-scrollbar{
  display:none;
}

.MainForecastParentDiv {
  display: flex;
  border-radius:20px;
  box-shadow:var(--BoxShadowValues);
}

.MainForecastParentDiv button {
  border: none;
}
.MainForecastParentDiv.DarkBackground button svg path{
  fill:lightgrey;
}

.MainForecastParentDiv .left {
  border-radius: 20px 0px 0px 20px;
}
.MainForecastParentDiv .right {
  border-radius: 0px 20px 20px 0px;
}

.MainForecastHeading{
  padding:10px;
  margin:5px auto;
  display:flex;
  flex-flow:column wrap;
  align-items:center;
  grid-row:1/2;
  grid-column:1/-1;
}
.containerQuery{
  display:flex;
  justify-content: center;
  margin-top:auto;
  margin-bottom:auto;
   width:100%;
   height:300px;
   container: containerQuery / inline-size;
}