@import "../../index.css";

.unitSelection{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:2%;
    width:95%;
    
}
@media screen and (min-width:900px){
    .unitSelection{
        justify-self: start;
    }
}

.OuterDD{
    border:2px solid rgb(161, 160, 160); 
    display:flex;
    flex-direction: column;
}

.InnerDD:not(.hidden){
    display:flex;
    flex-direction: column;
    position:relative;

}
.InnerDD:not(.hidden) > :first-child{
     border-top:2px solid var(--LightGreyBorder);
     border-radius: 0;

}
.InnerDD:not(.hidden) > :last-child{
    border-radius:0px 0px 20px 20px;
    border-bottom:none;
}

.InnerDD:not(.hidden) button{
    margin:0;
    border-radius: 0;
    border-bottom:0.5px solid var(--LightGreyBorder);
}
/*Styling for the toggle switch*/
.outerToggle {
  display: block;
  border: 1px solid rgb(161, 160, 160);
  width: 50px;
  height: 25px;
  background: rgb(168, 168, 168);
  box-shadow: inset 5px 0px 8px rgb(141, 140, 140),
    inset -5px 0px 8px rgb(141, 140, 140);
  border-radius: 5px;
  z-index: 1;
  margin:10px;
}

.toggleLabel {
  display: block;
  background: var(--OpagueMilkyBackground);
  width: 50%;
  height: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  z-index: 3;
}
.toggleLabel svg{
  margin:0 20%;
}
input:checked + .toggleLabel {
  box-shadow: 0px 0px 5px blue;
  transform: translateX(100%);
}
input:checked + .toggleLabel svg path {
  stroke:blue;
}
