:root {

  --MilkyBackground: rgba(255, 255, 255, 0.6);
  --MilkyBackgroundHover: rgba(235, 235, 235, 0.6);
  --BoxShadowValues:0px 0px 5px var(--MilkyBackground);
  --OpagueMilkyBackground:rgb(215, 222, 224)
  
  /* color-scheme: light dark; */
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: helvetica;
}

body {
   background: linear-gradient(200deg, lightblue, rgb(133, 176, 180));
   min-width:350px;
}

.Background{
  border-radius:20px;
  box-shadow:var(--BoxShadowValues);
  background:var(--MilkyBackground);
}


/*Move to separate file*/
.canvasEl{
  object-fit:none;
}

.ButtonParentDiv{
  width:100%;
  display:flex;
  justify-content:space-evenly;
}


.Button {
  height: 26px;
  width: 150px;
  border: none;
  margin: 10px;
  font-weight: 600;
}
.Button:hover {
  background: var(--MilkyBackgroundHover);
}





/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
