:root {

  --MilkyBackground: rgba(255, 255, 255, 0.6);
  --MilkyBackgroundHover: rgba(235, 235, 235, 0.6);
  --BoxShadowValues:0px 0px 5px var(--MilkyBackground);
  --OpagueMilkyBackground:rgb(215, 222, 224);
  --LightGreyBorder:rgb(161, 160, 160);

  --DarkBackground:rgba(110, 106, 106, 0.6);
  --DarkBackgroundHover:rgba(80, 77, 77, 0.6);
  --DarkBoxShadowValues:0px 0px 5px var(--DarkBackground);
  --OpagueDarkBackground:rgb(110,106,106);
  --DarkGreyBorder:rgb(34, 33, 33);


  color-scheme: light dark;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */


}




* {
  
  box-sizing: border-box;
  margin: 0;
  font-family: helvetica;
}
/* 
body {
   background: linear-gradient(200deg, lightblue, rgb(133, 176, 180));
   background: linear-gradient(200deg, rgb(49, 49, 49), rgb(69, 70, 70));
} */


.Background{
  border-radius:20px;
  box-shadow:var(--BoxShadowValues);
  background:var(--MilkyBackground);
}

.DarkBackground{
  border-radius:20px;
  box-shadow:var(--DarkBoxShadowValues);
  background:var(--DarkBackground);
  color:white
}


.ButtonParentDiv{
  width:100%;
  display:flex;
  justify-content:space-evenly;
}

.hidden{
  display:none;
}





/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
