:root {

  --MilkyBackground: rgba(255, 255, 255, 0.6);
  --MilkyBackgroundHover: rgba(235, 235, 235, 0.6);
  --BoxShadowValues:0px 0px 5px var(--MilkyBackground);
  --OpagueMilkyBackground:rgb(215, 222, 224);
  --LightGreyBorder:rgb(161, 160, 160);
  /* color-scheme: light dark; */
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}



#root{
  min-height:100vh;
  display:grid;
  grid-template: repeat(4,auto) 1fr / 100vw;
  gap:5px;
  overflow-x:hidden;
  justify-items:center;
}
@media screen and (min-width:900px){
  #root{
    background-color: pink;
    grid-template:repeat(3,auto) 1fr/ 50vw 50vw;
  }
}


* {
  
  box-sizing: border-box;
  margin: 0;
  font-family: helvetica;
}

body {
   background: linear-gradient(200deg, lightblue, rgb(133, 176, 180));
}

.Background{
  border-radius:20px;
  box-shadow:var(--BoxShadowValues);
  background:var(--MilkyBackground);
}



.ButtonParentDiv{
  width:100%;
  display:flex;
  justify-content:space-evenly;
}

.hidden{
  display:none;
}





/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
